<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Admin Page</h2>
    </div>
    <a href="/admin/allfarmer" class="btn btn-success">View All Farmer</a>
    <a href="/admin/allbuyer" class="btn btn-info">View All Buyer</a>
    <a href="/admin/membership" class="btn btn-warning">View All Membership</a>
</div>

<%- include('partials/footer.ejs') %>