<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <form action="/register/buyer/8/<%= pid%>" method="POST">
        <div class="container">
            <h3>The Geographical Origin of your Plant raw material</h3>
            <div class="form-group">
              <label for="pname">Medicinal Plant Name</label>
              <input type="text" class="form-control" id="pname" name="pname">
            </div>
            <div class="form-group">
              <label for="origintribal">Origin : Collected by tribals from forests? (Yes/No)</label>
              <input type="text" class="form-control" id="origintribal" name="tribal">
            </div>
            <div class="form-group ">
                <label for="originfarmer">Origin : Cultivated by farmers? (Yes/No)</label>
                <input type="text" class="form-control" id="originfarmer" name="farmer">
              </div>
              <div class="form-group">
                <label for="originstate">Name of State of Origin</label>
                <input type="text" class="form-control" id="originstate" name="state">
              </div>
            </div> 
    <button class="btn btn-info">Save</button>
    <button type="submit" class="btn btn-success">Next</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>