<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <form action="/register/buyer/7/<%= pid%>" method="POST">
        <div class="container">
            <h3>Is there a routine supplier you trust?:  </h3>
            <p>What is the main reason you trust them ? :</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="regsup" value="regular supply">
              <label class="form-check-label" for="regsup">regular supply</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="goodquality" value="good quality">
              <label class="form-check-label" for="goodquality">good quality</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="provtestrep" value="provides test report">
              <label class="form-check-label" for="provtestrep">provides test report</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="comprates" value="competitive rates">
              <label class="form-check-label" for="comprates">competitive rates</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="provsmall" value="Provides in small quantities or customised packs ">
              <label class="form-check-label" for="provsmall">Provides in small quantities or customised packs </label>
            </div>
            <div class="form-group">
              <label for="other">Other</label>
              <input class="form-control" id="other" type="text">
            </div>
            <div class="form-group">
              <label for="typeofcurrsup">Your current main Supplier is individual farmer, trader or company?</label>
              <input type="text" class="form-control" id="typeofcurrsup" name="typecsup">
            </div>
            <p>Details of the supplier:</p>
            <div class="form-group ">
              <label for="supname">Supplier's Name</label>
              <input type="text" class="form-control" id="supname" name="name">
            </div>
            <div class="form-group ">
                <label for="supaddress">Address</label>
                <input type="text" class="form-control" id="supaddress" name="address">
              </div>
              <div class="form-group">
                <label for="supmonumber">Mobile Number</label>
                <input type="integer" class="form-control" id="supmonumber" name="mobileno">
              </div>
            </div>   
    <button class="btn btn-info">Save</button>
    <button type="submit" class="btn btn-success">Next</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>