<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <form method="POST" action="/register/buyer/5/<%=buyer.test_id%>?_method=PUT">
        <div class="container text-center">
            <h3>Which parameters/tests are most important to you when sourcing a medicinal plant raw material:</h3>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="authentication" value="authentication of plant variety" name="test[]">
              <label class="form-check-label" for="authentication">Authentication of plant variety</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="freeoffm" value="free of foreign matter" name="test[]">
              <label class="form-check-label" for="freeoffm">Free of foreign matter</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="seasonofh" value="season of harvesting" name="test[]">
              <label class="form-check-label" for="seasonofh">Season of harvesting</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="maturityofh" value="maturity of harvesting" name="test[]">
              <label class="form-check-label" for="maturityofh">Maturity of harvesting</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="moisture" value="moisture content" name="test[]">
              <label class="form-check-label" for="moisture">moisture content</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="microbio" value="MicroBiology Test" name="test[]">
              <label class="form-check-label" for="microbio">MicroBiology Test</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="heavymetal" value="Heavy Metal" name="test[]">
              <label class="form-check-label" for="heavymetal">Heavy Metal Testing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="pestres" value="Pesticide Residue" name="test[]">
              <label class="form-check-label" for="pestres">Pesticide Residue</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="ashval" value="ash value" name="test[]">
              <label class="form-check-label" for="ashval">Ash Value/ Extractive Value</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="volatile" value="volatile matter percent" name="test[]">
              <label class="form-check-label" for="volatile">Volatile Matter Percentage</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="tlc" value="TLC" name="test[]">
              <label class="form-check-label" for="tlc">TLC/HPTLC/HPLC</label>
            </div>
            <div class="form-group">
              <label for="other">Other</label>
              <input class="form-control" id="other" type="text" name="other">
            </div>
                </div>
    
    <button class="btn btn-info">Save</button>
    <button type="submit" class="btn btn-success">Next</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>