<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <form action="/register/buyer/10/<%= pid%>" method="POST">
        <div class="container">
            <h3>Planning to procure any other medicinal plant in future:</h3>
                <div class="form-group">
                  <label for="plantname">Medicinal Plant Name</label>
                  <input type="text" class="form-control" id="plantname" name="pname">
                </div>
                <div class="form-group ">
                    <label for="plantpart">Plant Part and Form Required</label>
                    <input type="text" class="form-control" id="plantpart" name="formpart">
                    <small>(crude plant/dried/fresh/dry powder/juice etc)</small>
                  </div>
                  <div class="form-group">
                    <label for="testrep">Provide further details of any test report specifications or Organic certification, if required</label>
                    <input type="text" class="form-control" id="testrep" name="test">
                  </div>
                  <div class="form-group">
                    <label for="annreq">Approximate annual requirement </label>
                    <input type="number" class="form-control" id="annreq" name="requirement">
                    <small>(in kgs)</small>
                  </div>
                  <div class="form-group">
                    <label for="expprice">Expected Price</label>
                    <input type="number" class="form-control" id="expprice" name="price">
                    <small>(in Rs/kg)</small>
                  </div>
        </div>
    <button class="btn btn-info">Save</button>
    <button type="submit" class="btn btn-success">Next</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>