<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>

    <form method="POST" action="/register/buyer/4/<%=buyer.ptest_id%>?_method=PUT">
      <div class="container text-center">
    <div>
   <p> Does your current supplier provide a test report? If yes, which of the following specifications/standards of plant raw
material are given in the test report:</p></div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="authentication" value="authentication" name="ptest[]">
        <label class="form-check-label" for="cleaning">authentication</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="grading" value="grading" name="ptest[]">
        <label class="form-check-label" for="grading">grading</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="moisture" value="moisture content test" name="ptest[]">
        <label class="form-check-label" for="drying">Moisture Content Test</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ashval" value="ash value" name="ptest[]">
        <label class="form-check-label" for="ashval">Ash Value/ Extractive Value</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="volatile" value="volatile matter percent" name="ptest[]">
        <label class="form-check-label" for="volatile">Volatile Matter Percentage</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="tlc" value="TLC" name="ptest[]">
        <label class="form-check-label" for="tlc">TLC/HPTLC/HPLC</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="microbio" value="MicroBiology Test" name="ptest[]">
        <label class="form-check-label" for="microbio">MicroBiology Test</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="heavymetal" value="Heavy Metal" name="ptest[]">
        <label class="form-check-label" for="heavymetal">Heavy Metal Testing</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="pestres" value="Pesticide Residue" name="ptest[]">
        <label class="form-check-label" for="pestres">Pesticide Residue</label>
      </div>
      <div class="form-group">
        <label for="other">Other</label>
        <input class="form-control" id="other" type="text" name="other" value="<%=buyer.other%>">
      </div>
      </div>
      <button class="btn btn-info">Save</button>
      <button type="submit" class="btn btn-success">Next</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>
