<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <form action="/register/buyer/9/<%= pid%>" method="POST">
        <div class="form-group">
            <label for="problem">Problems facing in procuring of the palnt</label>
            <textarea class="form-control" id="problem" rows="3" name="problem"></textarea>
          </div>
    <button class="btn btn-info">Save</button>
    <button type="submit" class="btn btn-success">Next</button>
  </form>
</div>

<%- include('partials/footer.ejs') %>