<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <small>
    (to be filled if you have a company/organization running a herbal medicine business/activity)
    </small>
    <form method="GET" action="/register/buyer/3/<%=pid%>">
        <div class="form-group">
          <label for="companyname">Name of Comapny/Organization</label>
          <input type="text" class="form-control" id="companyname">
        </div>
        <div><p>Type of Company:</p>
          <div class="form-group form-check-inline">
            <input type="checkbox" class="form-check-input" id="propriet">
            <label class="form-check-label" for="propriet">Proprietorship</label>
          </div>
          <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="partner">
              <label class="form-check-label" for="partner">Partnership</label>
            </div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="llp">
              <label class="form-check-label" for="llp">LLP</label>
            </div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="pvtltd">
              <label class="form-check-label" for="pvtltd">Private Limited</label>
            </div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="nfp">
              <label class="form-check-label" for="nfp">Not for Profit</label>
            </div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="acad">
              <label class="form-check-label" for="acad">Academic Institute</label>
            </div>
            <div class="form-group">
              <label for="other">Other</label>
              <input class="form-control" id="other" type="text">
            </div>
          </div>
        <div class="form-group">
            <label for="companyhead">Name of the Head of the Company</label>
            <input type="text" class="form-control" id="companyhead">
          </div>
          <div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="prop">
              <label class="form-check-label" for="pvtltd">Proprietor</label>
            </div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="part">
              <label class="form-check-label" for="nfp">Partner</label>
            </div>
            <div class="form-group form-check-inline">
              <input type="checkbox" class="form-check-input" id="dire">
              <label class="form-check-label" for="acad">Director</label>
            </div>
            <div class="form-group">
              <label for="other">Other</label>
              <input class="form-control" id="other" type="text">
            </div>
          </div>
          <div class="form-group">
            <label for="add">Company's Registered Address with pincode</label>
            <input type="text" class="form-control" id="add">
          </div>
          <div class="form-group">
            <label for="phoneno">Phone Number</label>
            <input type="number" class="form-control" id="phoneno">
          </div>
          <div class="form-group">
            <label for="mobileno">Mobile Number</label>
            <input type="number" class="form-control" id="mobileno">
          </div>
          <div class="form-group">
            <label for="whatsno">WhatsApp Number</label>
            <input type="number" class="form-control" id="whatsno">
          </div>
          <div class="form-group">
            <label for="teleno">Telegram Number</label>
            <input type="number" class="form-control" id="teleno">
          </div>
          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="gstin">GSTIN Number if available</label>
            <input type="number" class="form-control" id="gstin">
          </div>
          <div class="form-group">
            <label for="cin">CIN Number if available</label>
            <input type="number" class="form-control" id="cin">
          </div>
          <button class="btn btn-info">Save</button>
        <button type="submit" class="btn btn-success">Next</button>
      </form>
</div>

<%- include('partials/footer.ejs') %>