<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/buyer/12/<%= pid%>" method="POST">
              <div class="form-group">
                <label for="Date">Date of filling this form</label>
                <input type="date" id="Date" name="date">
              </div> 
          <a class="btn btn-primary">Save</a>
          <button class="btn btn-success">Finish Registration</button>
      </form>

</div>

<%- include('partials/footer.ejs') %>