<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/farmer/7/<%=farmer.exp_id%>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="experiment">Have you done any new experiment or value addition to the medicinal plants while farming? If yes, detail below.</label>
            <textarea class="form-control" id="experiment" rows="3" name="experiment" placeholder="<%=farmer.experiment%>"></textarea>
          </div>
        
          <a class="btn btn-primary">Save</a>
          <button class="btn btn-success">Next</button>
      </form>

</div>

<%- include('partials/footer.ejs') %>