<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Personal Details</h2>
    </div>

    <form method="POST" action="/register/farmer/personalDetails/<%= pid %>">
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="Name" name="name">
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname">
        </div>
        <div class="form-group">
            <label for="fhname">Father/Husband's Name</label>
            <input type="text" class="form-control" id="fhname" name="fhname">
          </div>
          <div class="form-group">
            <label for="hno">House Number/Street/Society</label>
            <input type="text" class="form-control" id="hno" name="hno">
          </div>
          <div class="form-group">
            <label for="village">Village</label>
            <input type="text" class="form-control" id="village" name="village">
          </div>
          <div class="form-group">
            <label for="pin">Pin Number</label>
            <input type="number" class="form-control" id="pin" name="pin">
          </div>
          <div class="form-group">
            <label for="taluka">Taluka</label>
            <input type="text" disabled class="form-control" id="taluka" name="taluka">
          </div>
          <div class="form-group">
            <label for="district">District</label>
            <input type="text" disabled class="form-control" id="district" name="district">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="phoneno">Phone Number</label>
            <input type="number" class="form-control" id="phoneno" name="phoneno">
          </div>
          <div class="form-group">
            <label for="aphoneno">Alternate Phone Number</label>
            <input type="number" class="form-control" id="aphoneno" name="altphoneno">
          </div>
          <div class="form-group">
            <label for="wphoeno">Whatsapp Number</label>
            <input type="number" class="form-control" id="wphoeno" name="whatphoneno">
          </div>
          <div class="form-group">
            <label for="tephono">Telegram Number</label>
            <input type="number" class="form-control" id="tephono" name="telegphoneno">
          </div>
          <div class="form-group">
            <label for="aadharno">Aadhar Card Number</label>
            <input type="number" class="form-control" id="aadharno" name="aadharno">
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkbox">
          <label class="form-check-label" for="checkbox">Agree to Terms and Conditions</label>
        </div> 

        
          <small> as per 7/12 and 8-A of the land Revenue record on which the medicinal plants have been grown</small>
          <div class="form-group">
            <label for="LandRevenueRNO">Land Revenue Record Number</label>
            <input type="integer" class="form-control" id="LandRevenueRNO" name="landrevenuerno">
          </div>
          <div class="form-group ">
              <label for="Village">Village</label>
              <input type="text" class="form-control" id="Village" name="vill">
            </div>
            <div class="form-group">
              <label for="Taluka">Taluka</label>
              <input type="text" class="form-control" id="Taluka" name="talu">
            </div>
            <div class="form-group">
              <label for="District">District</label>
              <input type="text" class="form-control" id="District" name="dist">
            </div>
            <div class="form-group">
              <label for="surveyno">Survey/SubServey Number</label>
              <input type="integer" class="form-control" id="surveyno" name="surveyno">
            </div>
            <div class="form-group">
              <label for="area">Area</label>
              <input type="integer" class="form-control" id="area" name="area">
            </div>
            <!-- <div style="display: none;"><input type="integer" name="userid" value="<%=pid%>"></div> -->
            <a class="btn btn-primary">Save</a>
        <button class="btn btn-success">Next</a>
      </form>     
</div>

<script>
var pin = document.getElementById('pin')
var taluka = document.getElementById('taluka');
var district = document.getElementById('district');
var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
}
pin.addEventListener('change', function(){
var client = new HttpClient();
client.get('https://api.postalpincode.in/pincode/' + pin.value, function(response) {
  var data = JSON.parse(response);
    if(data[0]["Status"] == "Success"){
        taluka.value = data[0]["PostOffice"][0]["Division"];
        district.value = data[0]["PostOffice"][0]["District"];
    }
    else {console.log('Error in filling values');}
});
});
</script>

<%- include('partials/footer.ejs') %>