<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/farmer/2/<%= pid %>" method="POST">
        <h3>Medicinal Plants grown in the farm:</h3>
        <div class="form-group">
          <label for="plantname">Medicinal Plant Name</label>
          <input type="text" class="form-control" id="plantname" name="pname">
        </div>
        <div class="form-group ">
            <label for="variety">Variety</label>
            <input type="text" class="form-control" id="variety" name="variety">
          </div>
          <div class="form-group">
            <label for="area">Plantation Area</label>
            <input type="integer" class="form-control" id="area" name="area">
            <small>(in acres)</small>
          </div>
          <div class="form-group">
            <label for="time">When Planted</label>
            <input type="date" class="form-control" id="time" name="whenplant">
            <small>(month/year)</small>
          </div>
          <div class="form-group">
            <label for="usepart">Useful Part</label>
            <input type="text" class="form-control" id="usepart" name="useful_part">
          </div>
          <div class="form-group">
            <label for="harvesttime">Time of Harvest/Production</label>
            <input type="date" class="form-control" id="harvesttime" name="harvest">
          </div>
          <div class="form-row">
          <div class="form-group form-inline col">
            <label for="estprod">Estimated Production</label>
            <input type="integer" class="form-control" id="estprod" name="estprod">
            <small>(in kgs)</small>
          </div>
          <div class="form-group form-inline col">
            <label for="estprice">Expected Price</label>
            <input type="integer" class="form-control" id="estprice" name="expprice">
            <small>(in Rs)</small>
          </div>
          </div>
          <!-- <a class="btn btn-primary">Save</a> -->
          <button class="btn btn-success">Next</button>
        </form>

      </div>
      
      <%- include('partials/footer.ejs') %>