<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/farmer/3/<%= pid %>" method="POST" >
      <div class="container text-center">
        Any value addition (processed) to the medicinal plant<br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="cleaning" value="cleaning" name="va[]">
            <label class="form-check-label" for="cleaning">cleaning</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="grading" value="grading" name="va[]">
            <label class="form-check-label" for="grading">grading</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="drying" value="drying" name="va[]">
            <label class="form-check-label" for="drying">drying</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="crushed" value="crushed" name="va[]">
            <label class="form-check-label" for="crushed">Crushed/Powder</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="juice" value="juice" name="va[]">
            <label class="form-check-label" for="juice">Juice/Extract</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="oil" value="oil" name="va[]">
            <label class="form-check-label" for="oil">Oil/Extract</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="packaging" value="packaging" name="va[]">
            <label class="form-check-label" for="packaging">Packaging</label>
          </div>
          <div class="form-group">
            <label for="other">Other</label>
            <input class="form-control" id="other" type="text" name="other">
          </div>
          <a class="btn btn-primary">Save</a>
          <button class="btn btn-success">Next</button>
      </form>

</div>

<%- include('partials/footer.ejs') %>