<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/farmer/6/<%= pid %>" method="POST">
              <div class="form-group">
                <label for="problem">Problems facing in farming of the palnt</label>
                <textarea class="form-control" id="problem" rows="3" name="problem"></textarea>
              </div>
          <a class="btn btn-primary">Save</a>
          <button class="btn btn-success">Next</button>
      </form>

</div>

<%- include('partials/footer.ejs') %>