<%- include('partials/header.ejs') %>
<head>
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="bg-light">
    
<div class="container text-center">
  <main>
    <div class="py-5 text-center">
      <h2>Membership Form</h2>
    </div>

    <div class="row">
      <div class="col-md-8 col-lg-8">
        <h4 class="mb-3">User Details</h4>
        <form method="POST" action="/membersip">
          <div class="row g-3">

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
              </div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password">
            </div>

            <div class="col-md-5">
              <label for="type" class="form-label">Type</label>
              <select class="form-select" id="type" name="type">
                <option value="farmer">Farmer</option>
                <option value="buyer">Buyer</option>
              </select>
            </div>

          <h4 class="col-md-5">Membership Duration</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="duration" value="6 months" type="radio" class="form-check-input">
              <label class="form-check-label" for="6mon"  name="duration">For 6 Months</label>
            </div>
            <div class="form-check">
              <input id="debit" name="duration" value="12 months" type="radio" class="form-check-input">
              <label class="form-check-label" for="12mon"  name="duration">For 12 Months</label>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>
</div>

  </body>